test
*.o
*.d
depinst
depsrc
*.swp
libsnark
verifyProof
verificationKey
provingKey
sendProof
receiveProof
generateKeyPair
generateProof
sendProofInputs
receiveProofInputs
paymentAmountsProof
paymentAmountInputs
node_modules/
